
<div class="header">
    <div class="row">
        <div class="col-md-8">
            <h2>Quiz Application</h2>
        </div>
        <div class="col-md-4 header-right">
            <!-- In actual application, you may wish to load the quiz List using angular service. -->
            Select Quiz: 
            <select id="quizList" ng-model="quizName" ng-change="loadQuiz(quizName)">
                <option value="data/aspnet.js">Asp.Net</option>
                <option value="data/csharp.js">C Sharp</option>
                <option value="data/designPatterns.js">Design Patterns</option>
            </select>
        </div>
    </div>
    <hr />
</div>
<div id="quiz">
    <h1 class="center">{{quiz.name}}</h1>
    <hr />
    <div ng-show="mode=='quiz'">
        <div ng-repeat="question in filteredQuestions">
            <div class="label label-warning">Question {{currentPage}} of {{totalItems}}.</div>
            <div class="question">
                <h2>{{currentPage}}. <span ng-bind-html="question.Name"></span></h2>
                <div class="options">
                    <div ng-repeat="option in question.Options">
                        <label for="{{option.Id}}">
                            <input id="{{option.Id}}" type="checkbox" ng-model="option.Selected" ng-change="onSelect(question, option);" />
                            {{option.Name}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="quizNav">
            <div>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(1);">First</button>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(currentPage - 1);">Prev</button>
                <button class="btn btn-primary"                            ng-click="goTo(currentPage + 1);">Next</button>
                <button class="btn btn-default" ng-show="config.allowBack" ng-click="goTo(totalItems);">Last</button>
            </div>
            <br />
            <pagination ng-show="config.showPager" direction-links="false" total-items="totalItems" items-per-page="itemsPerPage" ng-model="currentPage" ng-change="pageChanged()"></pagination>
        </div>
    </div>
    <div class="review" ng-show="mode=='review'">
        <div ng-repeat="question in questions">
            <div ng-click="goTo($index + 1)" class="{{ isAnswered($index) == 'Answered'? 'answered': 'not-answered' }}">{{$index + 1}}. {{ isAnswered($index) }}</div>
        </div>
    </div>
    <div class="result" ng-show="mode=='result'">
        <h2>Quiz Result</h2>
        <div ng-repeat="question in questions">
            <div class="result-question">
                <h3>{{$index + 1}}. {{question.Name}}</h3>
                <div class="result-options">
                    <div ng-repeat="Option in question.Options">
                        <label ng-click="onSelect(Option);" class="{{ (Option.Selected == Option.IsAnswer)? 'result-correct': 'result-incorrect' }}">
                            <input id="{{Option.Id}}" type="checkbox" disabled="disabled" readonly="readonly" ng-model="Option.Selected" />
                            {{Option.Name}}
                        </label>
                    </div>
                </div>
                <h4 class="alert {{ isCorrect(question) == 'correct'? 'alert-success': 'alert-danger'}}">Your answer is {{isCorrect(question)}}.</h4>
            </div>
        </div>
        <h4 class="alert alert-info text-center">You may close this window now.</h4>
    </div>
    <hr />
    <div class="" ng-show="mode!='result'">
        <button class="btn btn-default" ng-click="mode = 'quiz'">Quiz</button> 
        <button class="btn btn-default" ng-click="mode = 'review'">Review</button> 
        <button class="btn btn-default" ng-click="onSubmit();">Submit Quiz</button>
    </div>
</div>